---
import Header from "../Header.astro";
import Footer from "../Footer.astro";
const {title} = Astro.props;
---
<!DOCTYPE html>
<html lang="da">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link href="https://fonts.googleapis.com/css2?family=Amarante&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  <script src="https://kit.fontawesome.com/c5d83fc88a.js" crossorigin="anonymous"></script>

  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
</head>
<body>
  <Header />
    <main>
        <slot />
    </main>
    <footer>
    <Footer />
</footer>
</body>
  </html>