---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Carrousel from "../components/Carrousel.astro";
import "../styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="shortcut icon" href="public/svg/logo_footer.svg" type="image/svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Gallery</title>
  </head>
  <body>
    <Header />

    <main>
      <h1>GALLERY</h1>
      <h2>2023</h2>
      <Carrousel />
      <h2>2022</h2>
      <Carrousel />
      <h2>2021</h2>
      <Carrousel />
    </main>
    <Footer />
  </body>
  <style>
    body {
      background-image: url(../public/svg/background_image.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    main h1 {
      text-align: center;
      padding: 30px;
      background-image: url(../public/webp/mask_image.webp);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      --webkit-background-repeat: no-repeat;
      background-size: cover;
    }

    main h2 {
      text-align: center;
      font-family: "Amarante";
      color: #f2f2f2;
      padding-top: 80px;
    }
  </style>
</html>
