---
import Buttons from "../components/Buttons.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="public/svg/logo_footer.svg" type="image/svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Home</title>
  </head>
  <body>
    <Header />
    <main>
      <div class="container">
        <img src="public/webp/frontpage_image.webp" alt="front-page image" />
        <div class="centered">
          <h1><span class="karrusel">KARRUSEL</span> FESTIVAL</h1>
          <br />
          <p>3 days of house, disco and techno in the woods.</p>
          <br />
          <Buttons>BUY TICKETS</Buttons>
          <Buttons>GO TO LINEUP</Buttons>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>

<style>
  .container img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    filter: brightness(15%) contrast(100%) sepia(70%);
  }

  .centered {
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -160%);
  }

  .karrusel {
    color: orangered;
  }
</style>
