---
import "../styles/style.css";
import ButtonOverview from "../components/ButtonOverview.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Cards from "../components/Cards.astro";
import CardsHeadliner from "../components/CardsHeadliner.astro";
import Scroll from "../components/Scroll.astro";
import MainLayout from "../components/layouts/MainLayout.astro";

const data = await fetch("https://oqzgzaeevuolneixguaw.supabase.co/rest/v1/artist", {
  method: "GET",
  headers: { apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9xemd6YWVldnVvbG5laXhndWF3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA2MDQyNDQsImV4cCI6MjAyNjE4MDI0NH0.Qbj4-BVvOnlAroDN44rKnJaPILmiSdhtvARYZEbJrkA" },
}).then((res) => res.json());
console.log("data", data);
---

<MainLayout>
  <section class="headliner">
    <div class="festival_overblik">
      <p class="opening">22~24 August 2024 Karrusel</p>
      <h1 class="artist_overskrift">ARTIST</h1>
      <p class="lineup_beskrivelse">
        Here you can get an overview of the diffrerent artists who’re gonna be playing at Karrusel in 2024. <br />
        The list of artists will be updated continously, as more artists will be revealed.
      </p>
    </div>
    <div class="stage">
      3 <span class="days">days</span>
      <br />
      <span class="slash">/</span>
      <br />
      3 <span class="days">stages</span>
      <br />
      <span class="slash">/</span>
      <br /> 44 <span class="days">artists</span>
    </div>
    <div class="stage_2">
      3 <span class="days">days</span>
      <span class="slash">/</span> 3 <span class="days">stages</span>
      <span class="slash">/</span> 44 <span class="days">artists </span>
    </div>
    <div class="headline_bgr">
      <img src="/webp/lineup/headlineup_bgr.webp" alt="background_img" />
      <section class="headliner_list">
        <div class="headliner">
          <CardsHeadliner name="SKIN ON SKIN" date="THURSDAY" land="AU" imgPath="../webp/lineup/skin-on-skin-artist-card.webp" />
        </div>
        <div class="head_2">
          <CardsHeadliner name="HAAi" date="FRIDAY" land="AU" imgPath="../webp/lineup/haai-artist-card.webp" />
        </div>
        <div class="head_3">
          <CardsHeadliner name="ACID PAULI" date="SATURDAY" land="DE" imgPath="../webp/lineup/acid-pauli-artist-card.webp" />
        </div>
      </section>
      <section class="headliner_list_2">
        <CardsHeadliner name="SKIN ON SKIN" date="THURSDAY" land="AU" imgPath="../webp/lineup/skin-on-skin-artist-card.webp" />

        <CardsHeadliner name="HAAi" date="FRIDAY" land="AU" imgPath="../webp/lineup/haai-artist-card.webp" />

        <CardsHeadliner name="ACID PAULI" date="SATURDAY" land="DE" imgPath="../webp/lineup/acid-pauli-artist-card.webp" />
      </section>
    </div>
  </section>
  <div class="filtering">
    <ButtonOverview variant="secondary" class="disco"> DISCO </ButtonOverview>
    <ButtonOverview variant="secondary" class="house"> HOUSE </ButtonOverview>
    <ButtonOverview variant="secondary" class="techno"> TECHNO </ButtonOverview>
  </div>
  <section class="list">
    {
      /*data.map((artists) => {
            return <Cards name="COCKWHORE" date="Thursday" land="DK" data={artists} />;
          })*/
      data.map((artist) => <Cards data={artist} />)
    }
  </section>
  <Scroll />
</MainLayout>

<style>
  .headline_bgr {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    position: relative;
  }
  .headliner_list {
    position: absolute;
    top: 0;
    transform: translate(-260px, 190px);
  }
  .headliner_list_2 {
    display: none;
  }
  .head_2 {
    position: absolute;
    top: 0;
    transform: translate(507px, -126px);
  }
  .head_3 {
    position: absolute;
    top: 0;
    transform: translate(447px, 297px);
  }
  .list {
    max-width: 1600px;
    display: flex;
    flex-flow: wrap;
    margin: auto;
    gap: 40px;
    justify-content: center;
    padding-bottom: 100px;
  }
  .filtering {
    display: flex;
    flex-flow: wrap;
    margin: auto;
    justify-content: flex-start;
    gap: 40px;
    padding: 50px;
    max-width: 1300px;
  }
  .festival_overblik {
    display: flex;
    flex-flow: wrap column;
    place-content: center;
    text-align: center;
    width: 100%;
    padding: 80px 0;
    position: relative;
  }
  h1 {
    background-image: url(../webp/lineup/mask_artist.webp);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    --webkit-background-repeat: no-repeat;
    background-size: cover;
  }
  .lineup_beskrivelse {
    width: 50%;
    line-height: 20px;
    padding-top: 20px;
  }
  .stage {
    color: #f84104;
    font-family: "Abhaya Libre", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    margin-left: 65px;
    position: absolute;
    top: 160px;
  }
  .stage_2 {
    display: none;
  }
  .days {
    font-size: 20px;
  }
  .slash {
    color: #7000ff;
    font-size: 25px;
  }
  @media (max-width: 800px) {
    .festival_overblik {
      padding: 80px 0 40px 0;
    }
    .stage {
      display: none;
    }
    .stage_2 {
      color: #f84104;
      font-family: "Abhaya Libre", serif;
      font-weight: 600;
      font-style: normal;
      font-size: 40px;
      display: block;
      margin: 0 auto;
      text-align: center;
      padding-bottom: 20px;
    }

    .headliner_list {
      display: none;
    }
    .headline_bgr {
      position: relative;
      padding-bottom: 100px;
    }

    .headliner_list_2 {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      place-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      padding: 20px;
      gap: 20px;
    }
    @media (max-width: 661px) {
      .headliner_list {
        display: none;
      }
      .headline_bgr {
        position: relative;
        padding-bottom: 100px;
        width: 100vw;
        height: 200vh;
      }
      html,
      body {
        margin: 0px;
        overflow-x: hidden;
      }
    }
  }
</style>
<script></script>
