---
import "../styles/style.css";
import Buttons from "../components/Buttons.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Cards from "../components/Cards.astro";
import CardsHeadliner from "../components/CardsHeadliner.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Alumni+Sans+Pinstripe:ital@0;1&display=swap" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <main>
      <section class="headliner">
        <div class="festival_overblik">
          <p class="opening">22~24 August 2024 Karrusel</p>
          <h1 class="artist_overskrift">ARTIST</h1>
          <p class="lineup_beskrivelse">
            Here you can get an overview of the diffrerent artists who’re gonna be playing at Karrusel in 2024. <br />
            The list of artists will be updated continously, as more artists will be revealed.
          </p>
        </div>
        <div class="stage">
          3 <span class="days">days</span>
          <br />
          <span class="slash">/</span>
          <br />
          3 <span class="days">stages</span>
          <br />
          <span class="slash">/</span>
          <br /> 44 <span class="days">artists</span>
        </div>
        <div class="headline_bgr">
          <img src="/public/webp/lineup/headlineup_bgr.webp" alt="background_img" />
          <div class="headliner_list">
            <div class="headliner">
              <CardsHeadliner name="Satori" date="Thursday" land="DK" />
            </div>
            <div class="head_2">
              <CardsHeadliner name="Satori" date="Thursday" land="DK" />
            </div>
            <div class="head_3">
              <CardsHeadliner name="Satori" date="Thursday" land="DK" />
            </div>
          </div>
        </div>
      </section>
      <div class="filtering">
        <Buttons> DISCO </Buttons>
        <Buttons> HOUSE </Buttons>
        <Buttons> TECHNO </Buttons>
      </div>
      <section class="list">
        <Cards name="COCKWHORE     " date="Thursday" land="DK" />
        <Cards name="COCKWHORE & MACHO" date="Thursday" land="DK" />
        <Cards name="COCKWHORE & MACHO" date="Thursday" land="DK" />
        <Cards name="COCKWHORE & MACHO" date="Thursday" land="DK" />
        <Cards name="COCKWHORE     " date="Thursday" land="DK" />
        <Cards name="COCKWHORE & MACHO" date="Thursday" land="DK" />
        <Cards name="COCKWHORE & MACHO" date="Thursday" land="DK" />
        <Cards name="COCKWHORE & MACHO" date="Thursday" land="DK" />

        <Cards name="COCKWHORE     " date="Thursday" land="DK" />
        <Cards name="COCKWHORE & MACHO" date="Thursday" land="DK" />
        <Cards name="COCKWHORE & MACHO" date="Thursday" land="DK" />
        <Cards name="COCKWHORE & MACHO" date="Thursday" land="DK" />

        <Cards name="COCKWHORE     " date="Thursday" land="DK" />
        <Cards name="COCKWHORE & MACHO" date="Thursday" land="DK" />
        <Cards name="COCKWHORE & MACHO" date="Thursday" land="DK" />
        <Cards name="COCKWHORE & MACHO" date="Thursday" land="DK" />

        <Cards name="COCKWHORE     " date="Thursday" land="DK" />
        <Cards name="COCKWHORE & MACHO" date="Thursday" land="DK" />
        <Cards name="COCKWHORE & MACHO" date="Thursday" land="DK" />
        <Cards name="COCKWHORE & MACHO" date="Thursday" land="DK" />
      </section>
    </main>
  </body>
</html>
<Footer />

<style>
  .headline_bgr {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    position: relative;
  }
  .headliner_list {
    position: absolute;
    top: 0;
    transform: translate(-260px, 190px);
  }
  .head_2 {
    position: absolute;
    top: 0;
    transform: translate(507px, -126px);
  }
  .head_3 {
    position: absolute;
    top: 0;
    transform: translate(447px, 297px);
  }
  .list {
    max-width: 1600px;
    display: flex;
    flex-flow: wrap;
    margin: auto;
    gap: 40px;
    justify-content: center;
    padding-bottom: 100px;
  }
  .filtering {
    display: flex;
    flex-flow: wrap;
    margin: auto;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    transform: translateX(-502px);
  }
  .festival_overblik {
    display: flex;
    flex-flow: wrap column;
    place-content: center;
    text-align: center;
    width: 100%;
    padding: 80px 0;
    position: relative;
  }
  h1 {
    background-image: url(../public/webp/lineup/mask_artist.webp);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    --webkit-background-repeat: no-repeat;
    background-size: cover;
  }
  .lineup_beskrivelse {
    width: 50%;
    line-height: 20px;
    padding-top: 20px;
  }
  .stage {
    color: #f84104;
    font-family: "Abhaya Libre", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    margin-left: 65px;
    position: absolute;
    top: 160px;
  }
  .days {
    font-size: 20px;
  }
  .slash {
    color: #7000ff;
    font-size: 25px;
  }
</style>
