---
import "../styles/style.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Carrousel from "../components/Carrousel.astro";
import Button from "../components/Buttons.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  <script src="https://kit.fontawesome.com/c5d83fc88a.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>program</title>
</head>
<body>
  <Header />
  <main>

    <a id="scrollToBottomBtn">Click here to find map!</a>

    <article class="program_background">
      <h1 class="program_title">MUSIC PROGRAM</h1>
    </article>
    <div id="myBtnContainer">
      <button class="btn" onclick="filterSelection('Thursday')" data-category="Thursday">Thursday</button>
      <button class="btn" onclick="filterSelection('Friday')" data-category="Friday">Friday</button>
      <button class="btn" onclick="filterSelection('Saturday')" data-category="Saturday">Saturday</button>
    </div>
    
    <div class="container">
      <div class="filterDiv Thursday">
        <div class="manege">
          <div>
            <h2>MANEGE</h2>
            <hr>
          </div>

          <div class="stagetime">
            <p>MCADAM</p>
            <p>18:00-19:30</p>
          </div>
          <div class="stagetime">
            <p>SCHAARUP</p>
            <p>19:30-21:00</p>
          </div>
          <div class="stagetime">
            <p>ÄME</p>
            <p>21:00-23:00</p>
          </div>
          <div class="stagetime">
            <p>KÖLSCH</p>
            <p>23:00-01:00</p>
          </div>
        </div>
        <div class="tribune">
          <div>
            <h2>TRIBUNE</h2>
            <hr>
          </div>
          <div class="stagetime">
            <p>SCHOWFDROSSEL</p>
            <p>18:00-19:30</p>
          </div>
          <div class="stagetime">
            <p>MADS LORENTSEN</p>
            <p>19:30-21:00</p>
          </div>
          <div class="stagetime">
            <p>HAENSEN & GRETHEL</p>
            <p>21:00-23:00</p>
          </div>
          <div class="stagetime">
            <p>MIRA</p>
            <p>23:00-01:00</p>
          </div>
        </div>
        <div class="balcony">
          <div>
            <h2>BALCONY</h2>
            <hr>
          </div>
          <div class="stagetime">
            <p>BOOGIE ROOKIE</p>

          </div>
          <div class="stagetime">
            <p>FUTTE RICO</p>

          </div>
          <div class="stagetime">
            <p>MORTEN MCCOY</p>

          </div>
          <div class="stagetime">
            <p>NAYAN</p>
          </div>
          <div class="stagetime">
            <p>SEB DALMAR</p>
          </div>
          <div class="stagetime">
            <p>STORM</p>
          </div>
          <div class="stagetime">
            <p>SØREN SKOV</p>
          </div>
        </div>
      </div>

      <div class="filterDiv  Friday">
        <div class="manege">
          <div>
            <h2>MANEGE</h2>
            <hr>
          </div>

          <div class="stagetime">
            <p>VIXEN</p>
            <p>18:00-19:30</p>
          </div>
          <div class="stagetime">
            <p>NARCISS</p>
            <p>19:30-21:00</p>
          </div>
          <div class="stagetime">
            <p>HAAI</p>
            <p>21:00-23:00</p>
          </div>
          <div class="stagetime">
            <p>VTSS</p>
            <p>23:00-01:00</p>
          </div>
        </div>
        <div class="tribune">
          <div>
            <h2>TRIBUNE</h2>
            <hr>
          </div>
          <div class="stagetime">
            <p>VÄM</p>
            <p>18:00-19:30</p>
          </div>
          <div class="stagetime">
            <p>ESKII</p>
            <p>19:30-21:00</p>
          </div>
          <div class="stagetime">
            <p>DJUMA SOUNDSYSTEM</p>
            <p>21:00-23:00</p>
          </div>
          <div class="stagetime">
            <p>SATORI LIVE</p>
            <p>23:00-01:00</p>
          </div>
        </div>
        <div class="balcony">
          <div>
            <h2>BALCONY</h2>
            <hr>
          </div>
          <div class="stagetime">
            <p>COCKWHORE & MACHO</p>

          </div>
          <div class="stagetime">
            <p>HARRISON HEAT, TIGHT CHERRY</p>

          </div>
          <div class="stagetime">
            <p>SIOFRA</p>

          </div>
          <div class="stagetime">
            <p>LUCKY CUBE</p>
          </div>
        </div>
      </div>
      <div class="filterDiv Saturday ">
        <div class="manege">
          <div>
            <h2>MANEGE</h2>
            <hr>
          </div>

          <div class="stagetime">
            <p>ANNA LOGIC</p>
            <p>18:00-19:30</p>
          </div>
          <div class="stagetime">
            <p>DJ SEAVIEW</p>
            <p>19:30-21:00</p>
          </div>
          <div class="stagetime">
            <p>SPFDJ</p>
            <p>21:00-23:00</p>
          </div>
          <div class="stagetime">
            <p>RICHIE HAWTIN</p>
            <p>23:00-01:00</p>
          </div>
        </div>
        <div class="tribune">
          <div>
            <h2>TRIBUNE</h2>
            <hr>
          </div>
          <div class="stagetime">
            <p>POWERSTRANGER</p>
            <p>18:00-19:30</p>
          </div>
          <div class="stagetime">
            <p>KATZ-K</p>
            <p>19:30-21:00</p>
          </div>
          <div class="stagetime">
            <p>JUDITH VAN WANDERKANT</p>
            <p>21:00-23:00</p>
          </div>
          <div class="stagetime">
            <p>RSS DISCO</p>
            <p>23:00-01:00</p>
          </div>
        </div>
        <div class="balcony">
          <div>
            <h2>BALCONY</h2>
            <hr>
          </div>

          <div class="stagetime">
            <p>DEE BROWN, OKINE</p>
            <p>18:00-19:30</p>
          </div>
          <div class="stagetime">
            <p>MARSHMELLO</p>
            <p>18:00-19:30</p>

          </div>
          <div class="stagetime">
            <p>DEE BROWN, OKINE</p>
            <p>18:00-19:30</p>
          </div>

        </div>
      </div>
    </div>
    <article class="padding_map">
      <div class="location">
        <img src="/public/svg/location-marker.svg" alt="location marker">
        <p>COPENHAGEN, REFSHALEØEN</p>
      </div>
      <article class="check_map">
        <div class="map">   
          <img class="map_image" src="/public/webp/map_image.webp" alt="map">
          <div class="btn_map">
            <Button>
              <a href="#">See map</a>
            </Button>
          </div>
        </div>
        <div>
          <h1 class="map_text">3 DAYS OF TECHNO, HOUSE AND DISCO IN THE WOODS</h1>
        </div>
      </article>

    </article>
  </main>
  <footer>
  <Footer />
</footer>
</body>
</html>

<style>
    .container {
        overflow: hidden;

    }

    .filterDiv {
        background: rgba(26, 2, 2, 0.7);
        color: #ffffff;
        text-align: center;
        margin: 20px;
        padding: 20px;
        display: none;

    }

    hr {
        width: 80%;
        margin: auto;
    }

    Sara Ringkow Petersen
h1 {
      background-image: url(../public/webp/mask_image.webp);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      --webkit-background-repeat: no-repeat;
      background-size: cover;
    }

    .stagetime {
        padding: 25px;
    }

    .stagetime p:first-child {
        color: rgb(221, 177, 136);
    }

    /* The "show" class is added to the filtered elements */
    .show {
        display: block;
    }

    /* Style the buttons */
    .btn {
        padding: 10px;
        border: 2px solid orangered;
        background-color: transparent;
        color: orangered;
        border-radius: 20px;
    }


    /* Add a light grey background on mouse-over */
    .btn:hover {
    cursor: pointer;
    background-color: orangered;
    color: black;
  }

    /* Add a dark background to the active button */
    .btn.active {
        background-color: #666;
        color: white;
    }
    #myBtnContainer{
        margin-left: 20px;
    }
#scrollToBottomBtn{
    position: fixed;
    top: 20%;
    left: 89%;
    overflow-wrap: break-word;
    width: 100px;
    color: orangered;
}
#scrollToBottomBtn:hover{
color: orange;
cursor: pointer;
}
    .program_background {
   background-image: url("/public/webp/program_background.webp");
   padding: 50px;
    }

    .map_image{
        height: auto;
        width: 100%;
    }
    .map_text{
        text-align: center;
        margin-bottom: 20px;
    }

    .location{
        display: flex;
        flex-direction: row;
        margin-top: 50px;
    }
    .padding_map{
        width:80%;
        margin: auto;
    }
    .map{
        position:relative;
        margin-bottom: 20px;
    }
    .btn_map{
        position: absolute;
        bottom: 20%;
    }

    
    .program_title{
        margin-left: 20px;
    }
    @media screen and (min-width: 780px) {
      #myBtnContainer{
        margin-left: 200px;
        margin-top: 30px;
    }
        .Thursday,
        .Friday,
        .Saturday {
            grid-template-columns: repeat(3, 1fr);
        }

        .container {
            display: grid;
            grid-template-columns: 1fr, 1fr, 1fr;
        }

        .filterDiv {
            margin-left: 200px;
            margin-right: 200px;
            padding-top: 50px;
        }
    }
    .program_title{ 
        margin-left: 200px;
    }
    .check_map{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-left: 50px;
    margin-right: 50px;
    }
    .location{
        margin-left: 80px;
    }

    .btn_map{
        position: absolute;
        bottom: 25%;
        left: 7%;
    }

    .map_text{
        font-size: 4.5vw;
        text-align: left;
        padding-left: 15px;
    }

    </style> 

<script>
  document.getElementById('scrollToBottomBtn').addEventListener('click', function() {
    window.scrollTo({
      top: document.body.scrollHeight,
      behavior: 'smooth'
    });
  });

  // Initially, show only Thursday elements
filterSelection("Thursday");

// Function to filter elements based on category
function filterSelection(category) {
    var elements = document.querySelectorAll('.filterDiv');
    
    // Loop through all elements
    elements.forEach(element => {
        // Hide elements not matching the category
        if (!element.classList.contains(category)) {
            element.style.display = 'none';
        } else {
            // Show elements matching the category
            element.style.display = 'grid';
        }
    });

    // Highlight the active button
    var buttons = document.querySelectorAll('.btn');
    buttons.forEach(button => {
        if (button.getAttribute('data-category') === category) {
            button.classList.add('active');
        } else {
            button.classList.remove('active');
        }
    });
}

// Add event listeners to the buttons
var buttons = document.querySelectorAll('.btn');
buttons.forEach(button => {
    button.addEventListener('click', function () {
        var category = this.getAttribute('data-category');
        filterSelection(category);
    });
});

</script>
