---
import "../styles/style.css";
import MainLayout from "../components/layouts/MainLayout.astro";
import ProgramLayout from "../components/layouts/ProgramLayout.astro";
import ButtonOverview from "../components/ButtonOverview.astro";
import Stagetime from "../components/Stagetime.astro";
import Map from "../components/Map.astro"
---

<MainLayout title="MUSIC PROGRAM">
  <a id="scrollToBottomBtn">Click here to find map!</a>

  <article class="program_background">
    <h1 class="program_title space">MUSIK PROGRAM</h1>
    <div id="myBtnContainer" class="space">
      <ButtonOverview variant="secondary" category="Thursday">THURSDAY</ButtonOverview>
      <ButtonOverview variant="secondary" category="Friday">FRIDAY</ButtonOverview>
      <ButtonOverview variant="secondary" category="Saturday">SATURDAY</ButtonOverview>
    </div>
    
  
      <div class="filterDiv Thursday space">
        <ProgramLayout stage="MANEGE">
          <Stagetime artist="MCADAM" time="18:00-19:30"/>
          <Stagetime artist="SCHAARUP" time="19:30-21:00"/>
          <Stagetime artist="ÄME" time="21:00-23:00"/>
          <Stagetime artist="KÖLSCH" time="23:00-01:00"/>
        </ProgramLayout>

        <ProgramLayout stage="TRIBUNE">
          <Stagetime artist="SCHOWFDROSEEL" time="18:00-19:30"/>
          <Stagetime artist="MADS LORENTSEN" time="19:30-21:00"/>
          <Stagetime artist="HAENSEN & GRETHEL" time="21:00-23:00"/>
          <Stagetime artist="MIRA" time="23:00-01:00"/>
        </ProgramLayout>
      
        <ProgramLayout stage="BALCONY">
          <Stagetime artist="BOOGIE ROOKIE"/>
          <Stagetime artist="FUTTE RICO"/>
          <Stagetime artist="MORTEN MCCOY"/>
          <Stagetime artist="NAYAN"/>
          <Stagetime artist="SEB DALMAR"/>
          <Stagetime artist="STORM"/>
          <Stagetime artist="SØREN SKOV"/>
        </ProgramLayout>
    </div>

    <div class="filterDiv  Friday space">
      <ProgramLayout stage="MANEGE">
        <Stagetime artist="VIXEN" time="18:00-19:30"/>
        <Stagetime artist="NARCISS" time="19:30-21:00"/>
        <Stagetime artist="HAII" time="21:00-23:00"/>
        <Stagetime artist="VTSS" time="23:00-01:00"/>
      </ProgramLayout>

      <ProgramLayout stage="TRIBUNE">
        <Stagetime artist="VÄM" time="18:00-19:30"/>
        <Stagetime artist="ESKII" time="19:30-21:00"/>
        <Stagetime artist="DJUMA SOUNDSYSTEM" time="21:00-23:00"/>
        <Stagetime artist="SATORI LIVE" time="23:00-01:00"/>
      </ProgramLayout>

      <ProgramLayout stage="BALCONY">
        <Stagetime artist="COCKWHORE & MACHO"/>
        <Stagetime artist="HARRISON HEAT, TIGHT CHERRY"/>
        <Stagetime artist="SIOFRA"/>
        <Stagetime artist="LUCKY CUBE"/>
      </ProgramLayout>
    </div>

    <div class="filterDiv Saturday space">
      <ProgramLayout stage="MANEGE">
        <Stagetime artist="ANNA LOGIC" time="18:00-19:30"/>
        <Stagetime artist="DJ SEAVIEW" time="19:30-21:00"/>
        <Stagetime artist="SPFDJ" time="21:00-23:00"/>
        <Stagetime artist="RICHIE HAWTIN" time="23:00-01:00"/>
      </ProgramLayout>
     
      <ProgramLayout stage="TRIBUNE">
        <Stagetime artist="POWERSTRANGER" time="18:00-19:30"/>
        <Stagetime artist="KATZ-K" time="19:30-21:00"/>
        <Stagetime artist="JUDITH VAN WANDERKANT" time="21:00-23:00"/>
        <Stagetime artist="RSS DISCO" time="23:00-01:00"/>
      </ProgramLayout>
    
      <ProgramLayout stage="BALCONY">
        <Stagetime artist="DEE BROWN, OKINE" time="18:00-19:30"/>
        <Stagetime artist="MARSHMELLO" time="19:30-21:00"/>
        <Stagetime artist="DEE BROWN, OKINE" time="21:00-23:00"/>
      </ProgramLayout>
    </div>
  </article>
    <Map/>
</MainLayout>

<style>
    .filterDiv {
        background: rgba(26, 2, 2, 0.7);
        color: #ffffff;
        text-align: center;
        padding: 20px;
        margin-top: 20px;
        display: none;
    }
.space{
  margin-left: 1%;
  margin-right: 1%;
}
.program_title {
      background-image: url(/webp/mask_image.webp);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      --webkit-background-repeat: no-repeat;
      background-size: cover;
      overflow-wrap: break-word;
      width: 300px;
    }

    /* The "show" class is added to the filtered elements */
    .show {
        display: block;
    }

    /* Add a dark background to the active button */
#scrollToBottomBtn{
    position: fixed;
    top: 12%;
    left: 78%;
    overflow-wrap: break-word;
    width: 100px;
    color: orangered;
  }
  #scrollToBottomBtn:hover {
    color: orange;
    cursor: pointer;
  }
  .program_background {
    background-image: url("/webp/program_background.webp");
    padding: 50px;
  }

    @media screen and (min-width: 900px) {
        .Thursday,
        .Friday,
        .Saturday {
            grid-template-columns: repeat(3, 1fr);
        }

    .container {
      display: grid;
      grid-template-columns: 1fr, 1fr, 1fr;
    }

        .filterDiv {
            padding-top: 50px;
            height:600px;
        }

        .space{
  margin-left: 10%;
  margin-right: 10%;
}

        .program_title {
      overflow-wrap: normal;
      width: auto;
    }
        /* .program_title{ 
    } */

    #scrollToBottomBtn{
    top: 20%;
    left: 91%;
    }
    }

    </style> 

<script>
  document.getElementById("scrollToBottomBtn").addEventListener("click", function () {
    window.scrollTo({
      top: document.body.scrollHeight,
      behavior: "smooth",
    });
  });


  // ALL MY CODE FOR FILTERING
  filterSelection("Thursday");

  // Function to filter elements based on category
  function filterSelection(category) {
    var elements = document.querySelectorAll(".filterDiv");

    // Loop through all elements
    elements.forEach((element) => {
      // Hide elements not matching the category
      if (!element.classList.contains(category)) {
        element.style.display = "none";
      } else {
        // Show elements matching the category
        element.style.display = "grid";
      }
    });

    // Highlight the active button
    var buttons = document.querySelectorAll(".btn");
    buttons.forEach((button) => {
      if (button.getAttribute("data-category") === category) {
        button.classList.add("active");
      } else {
        button.classList.remove("active");
      }
    });
  }

  // Add event listeners to the buttons
  var buttons = document.querySelectorAll(".btn");
  buttons.forEach((button) => {
    button.addEventListener("click", function () {
      var category = this.getAttribute("data-category");
      filterSelection(category);
    });
  });
</script>
