---
import "../styles/style.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Icons from "../components/Icons.astro";


export async function getStaticPaths() {
const url = "https://oqzgzaeevuolneixguaw.supabase.co/rest/v1/artist";

const options =  {
headers: { 
apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9xemd6YWVldnVvbG5laXhndWF3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA2MDQyNDQsImV4cCI6MjAyNjE4MDI0NH0.Qbj4-BVvOnlAroDN44rKnJaPILmiSdhtvARYZEbJrkA" },
};

  const data = await fetch(url, options).then(response => response.json());

        return data.map((ret) => {
            return{
                params: {slug: ret.slug},
                props: {ret},
            };

        });
}
const { name, description, music, img_singview } = Astro.props
const { ret } = Astro.props

---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script src="https://kit.fontawesome.com/c5d83fc88a.js" crossorigin="anonymous"></script>
    <title>Artist Singleview</title>
</head>

<body>
    <header>
        <Header />
    </header>


    <main>
        <ul class="breadcrumb">
            <li><a href="#">HOME</a></li>
            <li><a href="#">LINEUP</a></li>
            <li><a href="#" class="breadcrumb_link">#</a></li>
        </ul>


        <section class="single-1_1">
            <div class="single-img">
                <img src="" alt="" class="artist_img">
            </div>

            <div class="single-text_1">
                <h1></h1>
                <br>
                <p class="description"></p>

                <div class="single_icons">
                    <Icons />
                </div>
            </div>

        </section>


        <section class="single-1_1">
            <div class="single-text_1">
                <h2>WANNA KNOW MORE?</h2>
                <br>
                <p>
                    Opdag de fortryllende lyde på SoundCloud og dyk ned i den fængslende verden af denne musikgenre.
                </p>
                <br>
                <p> Forbind med dem på Facebook og Instagram for at lære mere om dem og deres musik. </p>
                <br>
                <p> Hold dig opdateret om deres seneste musikudgivelser og få indsigt bag kulisserne i deres kreative
                    proces.
                </p>
            </div>

            <div class="single-sound">
                <iframe src="#" frameborder="0" class="soundCloud"></iframe>
            </div>
        </section>

    </main>


    <footer>
        <Footer />
    </footer>

</body>

</html>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* BREADCRUMB */
    ul.breadcrumb {
        list-style: none;
    }

    ul.breadcrumb li {
        display: inline;
        font-size: 18px;
    }

    /* SLASH SYMBOL (/) */
    ul.breadcrumb li+li:before {
        padding: 8px;
        color: #ffc4a8;
        content: "/\00a0";
    }

    ul.breadcrumb li a {
        color: #ffc4a8;
        text-decoration: none;
    }

    ul.breadcrumb li a:hover {
        color: #f84104;
    }

    /******** MOBIL FORMAT ********/

    main {
        margin: 8%;
    }

    h1 {
        margin-bottom: 20px;
    }

    .single-1_1 {
        display: flex;
        flex-direction: column;
        margin-top: 2%;
    }

    .single-1_1 img {
        width: 100%;
        height: auto;
        margin-bottom: 6%;
    }

    .single-text_1 {
        font-size: 16px;
        margin-bottom: 6%;
    }

    /******** TABLET FORMAT ********/

    @media (min-width: 768px) {
        main {
            margin: 10%;
        }

        h1 {
            margin-bottom: 8%;
        }

        .single-1_1 {
            display: flex;
            flex-direction: column;
            margin-top: 2%;
        }

        .single-1_1 img {
            width: 100%;
            height: auto;
            margin-bottom: 8%;
        }

        .single-text_1 {
            font-size: 16px;
            margin-bottom: 8%;
        }
    }

    /******** DESKTOP FORMAT ********/

    @media (min-width: 1024px) {
        main {
            margin: 5% 10%;
        }

        h1 {
            margin-bottom: 20px;
        }

        .single-1_1 {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 1fr;
            column-gap: 80px;
            margin-top: 2%;
            margin-bottom: 6%;
            align-items: flex-start;
        }

        .single-img img {
            width: 100%;
            height: auto;
            display: block;
        }

        .single-text_1 {
            font-size: 20px;
        }

        .single-text_1 {
            display: flex;
            flex-direction: column;
        }

        .single-text_1>div {
            flex: 1;
        }
    }
</style>

