---
import "../styles/style.css";
//import Header from "../components/Header.astro";
//import Footer from "../components/Footer.astro";
import Tickets from "../components/Tickets.astro";
import MainLayout from "../components/layouts/MainLayout.astro";
import AboutLayout from "../components/layouts/AboutLayout.astro";
---

<MainLayout title="TICKETS">
  <h1 class="overskrift">Festival Pass</h1>
  <section class="tickets">
    <div class="pass"><Tickets /></div>
    <div class="om_pass">
      <p>Early Bird Festival Passes on sale until 1 April. The Festival Pass provides access to all 3 days at Karrusel from 22–24 August 2024. Day tickets will go on sale later. Terms: Age limit: 18+. You must apply to entrance rules. Artists subject to change. Karrusel will take place rain or shine. Ticket fees apply.</p>
      <h1 class="countdown" id="demo"></h1>
    </div>
  </section>

  <section class="ticket_section2">
    <div class="ticket_section2_tekst">
      <p>
        Karrusel, Copenhagen, Refshaleøen <br />
        22-24 August 2024 <br /><br />
        3 days of house, disco, and techno in the magical forest. <br />
        Karrusel takes place at a secluded green spot on Refshaleøen in central Copenhagen. <br /><br />
        Address: Refshalevej 193, 1432 Copenhagen.
      </p>
    </div>
    <div class="img_karrusel">
      <img src="/webp/ticket/ticketside.webp" alt="Karrusel" />
    </div>
  </section>
  <section class="ticket_section3">
    <div class="background_image">
      <!-- Baggrundsbillede -->
    </div>
    <div class="content_wrapper">
      <div class="lineup">
        <img class="headliner" src="/webp/ticket/karrusel-lineup-1x1.webp" alt="lineup" />
        <img class="lineup_andre" src="/webp/ticket/stage-lineup-poster.webp" alt="lineup" />
      </div>
      <div class="form">
        <div>
          <h2>DON’T MISS OUT ON ANYTHING!</h2>
          <p>Sign up for Karrusel and get amazing offers in your inbox!</p>
        </div>
        <form class="email_form" name="email-form">
          <div class="input-group">
            <input class="emailform" type="email" placeholder="Please enter your email" required />
            <button class="email-icon" type="submit"><i class="fa-regular fa-envelope"></i></button>
          </div>
        </form>
      </div>
    </div>
  </section>
</MainLayout>

<style>
  .overskrift {
    text-align: center;
    padding: 40px;
  }

  .tickets,
  .ticket_section2,
  .ticket_section3 {
    flex-flow: column wrap;
    display: flex;
    padding: 20px 20px 0 20px;
    width: 100%;
  }
  .ticket_section2 {
    display: flex;
    gap: 0;
  }

  .lineup img {
    display: flex;
    width: 100%;
  }
  .lineup_andre,
  .headliner {
    padding-top: 40px;
  }
  .om_pass {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 20px;
  }
  .om_pass p {
    padding-top: 40px;
  }
  .countdown {
    padding-top: 40px;
    font-size: 50px;
    font-family: "Alumni Sans", sans-serif;
    font-weight: 600;
    background-image: url(../webp/ticket/mask_ticket.webp);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    --webkit-background-repeat: no-repeat;
    background-size: cover;
  }
  .ticket_section2_tekst,
  .om_pass p {
    line-height: 22px;
  }
  .img_karrusel {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 20px 0;
    order: -2;
  }
  h1 {
    background-image: url(../webp/ticket/mask_ticket_mobil.webp);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    --webkit-background-repeat: no-repeat;
    background-size: cover;
  }
  .ticket_section3 {
    position: relative;
    overflow: hidden;
  }

  .background_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #1a0202, transparent), url("../webp/ticket/ticketside_background.webp");
    background-size: cover;
    z-index: -1;
    opacity: 0.3;
  }

  .content_wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
  }

  .form {
    max-width: 1200px;
    margin: 0 auto;
    color: #f2f2f2;
    padding: 80px 0px;
  }
  .form p {
    padding-top: 10px;
  }

  .email_form {
    width: 100%;
    max-width: 500px;
    padding-top: 20px;
  }

  .input-group {
    position: relative;
    display: flex;
  }

  .emailform {
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0px 0px 5px;
    flex: 1;
  }

  .email-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    background-color: #969696;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }

  .email-icon i {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
  }

  @media (min-width: 800px) {
    .tickets,
    .ticket_section2,
    .lineup {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr;
      column-gap: 60px;
      align-items: center;
      padding: 0 150px;
      z-index: 2;
    }
    .pass {
      grid-column: 1/2;
      grid-row: 1/2;
      justify-self: end;
    }
    .om_pass {
      grid-column: 2/3;
      align-items: start;
    }
    .countdown {
      display: flex;
      justify-content: flex-start;
      padding: 40px 0;
    }
    .om_pass p {
      line-height: 30px;
    }
    .img_karrusel {
      grid-column: 2 / 3;
      padding-top: 60px;
      order: 0;
      width: 30vw;
    }
    .ticket_section2_tekst {
      line-height: 22px;
      justify-self: end;
      align-items: center;
      display: flex;
    }
    .form {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      padding: 80px 0;
    }
  }
</style>

<script>
  // Set the date we're counting down to
  var countDownDate = new Date("Aug 22, 2025 18:00:00").getTime();

  // Update the count down every 1 second
  var x = setInterval(function () {
    // Get today's date and time
    var now = new Date().getTime();

    // Find the distance between now and the count down date
    var distance = countDownDate - now;

    // Definer en variabel for days, hours, minutes og seconds som strenge
    let days: string;
    let hours: string;
    let minutes: string;
    let seconds: string;

    // Konverter numeriske værdier til strenge før tildeling
    days = String(Math.floor(distance / (1000 * 60 * 60 * 24)));
    hours = String(Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)));
    minutes = String(Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)));
    seconds = String(Math.floor((distance % (1000 * 60)) / 1000));

    // Output the result in an element with id="demo"
    document.getElementById("demo").innerHTML = days + "D " + hours + "H " + minutes + "M " + seconds + "S ";

    if (distance < 0) {
      clearInterval(x);
      document.getElementById("demo").innerHTML = "EXPIRED";
    }
  }, 1000);
</script>
