---
import "../styles/style.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Tickets from "../components/Tickets.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script src="https://kit.fontawesome.com/c5d83fc88a.js" crossorigin="anonymous"></script>
    <title>Tickets</title>
  </head>
  <body>
    <Header />
    <main>
      <h1 class="overskrift">Festival Pass</h1>
      <section class="tickets">
        <div class="pass"><Tickets /></div>
        <div class="om_pass">
          <p>Early Bird Festival Passes on sale until 1 April. The Festival Pass provides access to all 3 days at Karrusel from 22–24 August 2024. Day tickets will go on sale later. Terms: Age limit: 18+. You must apply to entrance rules. Artists subject to change. Karrusel will take place rain or shine. Ticket fees apply.</p>
          <h1 class="countdown" id="demo"></h1>
        </div>
      </section>

      <section class="ticket_section2">
        <p>
          Karrusel, Copenhagen, Refshaleøen <br />
          22-24 August 2024 <br /><br />
          3 days of house, disco, and techno in the magical forest. <br />
          Karrusel takes place at a secluded green spot on Refshaleøen in central Copenhagen. <br /><br />
          Address: Refshalevej 193, 1432 Copenhagen.
        </p>
        <div class="img_ticket">
          <img class="ticket_karrusel" src="/public/webp/ticket/ticketside.webp" alt="Karrusel" />
          <img class="logo_ticket" src="/public/svg/logo_footer.svg" alt="logo" />
        </div>
      </section>

      <section class="ticket_section3">
        <div class="background_img">
          <div class="lineup">
            <img class="headliner" src="/public/webp/ticket/karrusel-lineup-1x1.webp" alt="lineup" />
            <img src="/public/webp/ticket/stage-lineup-poster.webp" alt="lineup" />
          </div>
          <div class="form">
            <h2>DON’T MISS OUT ON ANYTHING!</h2>
            <p>Sign up for Karrusel and get amazing offers in your inbox!</p>
            <form class="email_form" name="email-form">
              <div class="input-group">
                <input class="emailform" type="email" placeholder="Please enter your emai" required />
                <button class="email-icon" type="submit"><i class="fa-regular fa-envelope"></i></button>
              </div>
            </form>
          </div>
          <div class="gradient"></div>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
<style>
  .overskrift,
  .tickets,
  .ticket_section2,
  .lineup {
    max-width: 1200px;
    margin: 0 auto;
  }
  .overskrift {
    margin-top: 100px;
  }

  h1 {
    background-image: url(../public/webp/ticket/mask_ticket.webp);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    --webkit-background-repeat: no-repeat;
    background-size: cover;
  }
  .tickets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    gap: 60px;
    justify-content: center;
    margin-top: 20px;
  }
  .pass {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  .om_pass p {
    line-height: 30px;
  }
  .countdown {
    padding-top: 180px;
    font-size: 50px;
    font-family: "Alumni Sans", sans-serif;
    font-weight: 600;
    background-image: url(../public/webp/ticket/countdown_mask.webp);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    --webkit-background-repeat: no-repeat;
    background-size: cover;
  }

  .ticket_section2 {
    display: flex;
    width: 100%;
    gap: 60px;
    justify-content: center;
  }
  .ticket_section2 p {
    display: flex;
    flex-flow: column wrap;
    line-height: 30px;
    padding-top: 40px;
    width: 100%;
  }

  .img_ticket {
    display: grid;
    place-items: center;
    width: 50%;
  }

  .ticket_karrusel,
  .logo_ticket {
    grid-area: 1 / 1;
  }
  .logo_ticket {
    width: 250px;
  }

  .lineup {
    display: flex;
    width: 100%;
    gap: 80px;
    justify-content: center;
    margin-top: 100px;
  }
  .lineup img {
    width: 50%;
    height: 600px;
  }
  .headliner {
    align-items: flex-end;
  }
  .form {
    max-width: 1200px;
    margin: 0 auto;
    color: #f2f2f2;
    padding: 80px 0 80px 0;
  }
  .form p {
    padding-top: 10px;
  }

  .email_form {
    width: 100%;
    max-width: 500px;
    padding-top: 20px;
  }

  .input-group {
    position: relative;
  }

  .emailform {
    width: calc(100% - 40px); /* Juster bredden etter behov */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0px 0px 5px;
  }

  .email-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    background-color: #969696;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }

  .email-icon i {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
  }
  .background_img {
    margin: 0;
    padding: 0;
    position: relative;
  }
  .gradient {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #1a0202, transparent), url(/public/webp/ticket/ticketside_background.webp);
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
</style>

<script>
  // Set the date we're counting down to
  var countDownDate = new Date("Aug 22, 2024 18:00:00").getTime();

  // Update the count down every 1 second
  var x = setInterval(function () {
    // Get today's date and time
    var now = new Date().getTime();

    // Find the distance between now and the count down date
    var distance = countDownDate - now;

    // Definer en variabel for days, hours, minutes og seconds som strenge
    let days: string;
    let hours: string;
    let minutes: string;
    let seconds: string;

    // Konverter numeriske værdier til strenge før tildeling
    days = String(Math.floor(distance / (1000 * 60 * 60 * 24)));
    hours = String(Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)));
    minutes = String(Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)));
    seconds = String(Math.floor((distance % (1000 * 60)) / 1000));

    // Output the result in an element with id="demo"
    document.getElementById("demo").innerHTML = days + "D " + hours + "H " + minutes + "M " + seconds + "S ";

    if (distance < 0) {
      clearInterval(x);
      document.getElementById("demo").innerHTML = "EXPIRED";
    }
  }, 1000);
</script>
