---

---

<button><slot /></button>

<style>
  button {
    padding: 10px;
    border: 2px solid orangered;
    border-radius: 20px;
    color: orangered;
  }

  button:hover {
    cursor: pointer;
    background-color: orangered;
    color: black;
  }
</style>
