---

---

<button><slot /></button>

<style>
  button {
    padding: 10px;
    width: 150px;
    border: 2px solid orangered;
    background-color: transparent;
    border-radius: 20px;
  }

  button a {
    text-decoration: none;
    color: orangered;
  }
  button a:hover {
    cursor: pointer;
    background-color: orangered;
    color: black;
  }
</style>
