---
const { variant, category } = Astro.props;
---

<button class="custom-button btn" data-variant={variant} data-category={category}>
  <slot></slot>
</button>

<style>
  /* Common styles for all buttons */
  .custom-button {
    width: 94px;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
    min-width: auto;
    text-align: center;
    font-weight: bold;
  }

  .custom-button:hover,
  .custom-button.active:hover { /* Added .custom-button.active:hover */
    cursor: pointer;
  }

  .button-link {
    text-decoration: none;
    color: inherit;
  }

  /* Variant specific styles */
  [data-variant="secondary"] {
    border: 2px solid orangered;
    background-color: transparent;
    color: orangered;
  }

  [data-variant="secondary"]:hover,
  [data-variant="secondary"].active { /* Added [data-variant="secondary"].active */
    background-color: orangered;
    color: black;
  }

  [data-variant="primary"] {
    border: 2px solid #7000ff;
    background-color: transparent;
    color: #7000ff;
  }

  [data-variant="primary"]:hover,
  [data-variant="primary"].active { /* Added [data-variant="primary"].active */
    background-color: #7000ff;
    color: white;
  }
</style>
