---
const { name, date, land } = Astro.props;
import ButtonOverview from "./ButtonOverview.astro";
---

<head>
  <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
</head>
<body>
  <article>
    <div class="card-container">
      <img src="/public/webp/lineup/satori-artist-card.webp" alt="card" />
      <div class="navn">
        <h2 class="name">{name}</h2>
        <a href="#"><ButtonOverview variant="secondary"> See more </ButtonOverview></a>
      </div>
      <div class="date_land">
        <div class="date">{date}</div>
        <div class="land">{land}</div>
      </div>
    </div>
  </article>
</body>

<style>
  .card-container {
    width: 300px;
    height: 350px;
    display: flex;
    position: relative;
    height: auto;
    gap: 20px;
    transition: 1s;
  }
  .card-container:hover {
    transform: scale(1.1);
    z-index: 2;
  }
  img {
    display: flex;
    position: relative;
    width: 300px;
    height: 350px;
    border-radius: 20px;
  }

  .navn {
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    width: 300px;
    border-radius: 0 0 20px 20px;
    padding: 0 20px 10px 20px;
    align-items: center;
  }

  .name {
    inline-size: 187px;
    justify-content: center;
    overflow-wrap: break-word;
    font-family: "Alumni Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 50px;
    font-weight: 800;
    color: #1a0202;
  }
  .date_land {
    display: flex;
    color: #fff3ec;
    position: absolute;
    font-size: 20px;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 600;
  }
  .date {
    transform: translate(20px, 6px);
  }
  .land {
    transform: translate(209px, 6px);
  }
  .card-button {
    width: 88px;
  }
</style>
