---
const { name, date, land } = Astro.props;
import Buttons from "./Buttons.astro";
---

<div class="card_container">
  <div class="card">
    <img src="/public/cockwhore-macho-artist-card.webp" alt="card" />
    <div class="card-content">
      <h2 class="name">{name}</h2>
      <a href="#" class="card-button"><Buttons> See more </Buttons></a>
    </div>
    <ul class="date_land">
      <li>{date}</li>
      <li>{land}</li>
    </ul>
  </div>
</div>

<style>
  .card_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 100px;
  }
  .card {
    width: 295px;
    background-color: #fff3ec;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .card-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    flex-direction: column;
    width: 100%;
    height: 137px;
  }
  .card-content h2 {
    font-family: "Alumni Sans", sans-serif;
    font-weight: 700;
    font-size: 45px;
    margin: 0px 10px 0px 10px;
    color: #1a0202;
    justify-self: end;
    align-self: flex-end;
  }
  .card-content .card-button {
    justify-self: end;
    align-self: flex-end;
    padding-bottom: 10px;
  }
  .date_land {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 15px;
    color: #eff3fd;
    font-weight: bold;
    transform: translateY(-367px);
    padding: 0px 20px;
  }
</style>
