---
const { name, date, land } = Astro.props;
import Buttons from "./Buttons.astro";
---

<head>
  <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
</head>
<body>
  <article>
    <div class="card-container">
      <img src="/public/webp/lineup/satori-artist-card.webp" alt="card" />
      <div class="navn">
        <h2 class="name">{name}</h2>

        <a href="#"><Buttons class="card-button"> See more </Buttons></a>
      </div>
      <div class="date_land">
        <div class="date">{date}</div>
        <div class="land">{land}</div>
      </div>
    </div>
  </article>
</body>

<style>
  .card-container {
    width: 300px;
    height: 350px;
    display: flex;
    position: relative;
    height: auto;
    gap: 20px;
  }

  img {
    display: flex;
    position: relative;
    width: 300px;
    height: 350px;
    border-radius: 20px;
  }

  .navn {
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    width: 300px;
    border-radius: 0 0 20px 20px;
    padding: 0 20px 10px 20px;
    align-items: center;
  }

  .name {
    inline-size: 250px;
    overflow-wrap: break-word;
  }
  .date_land {
    display: flex;
    color: #fff3ec;
    position: absolute;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 600;
  }
  .date {
    transform: translate(13px, 6px);
  }
  .land {
    transform: translate(196px, 6px);
  }
  .card-button {
    width: 88px;
  }
</style>
