---

---

<div class="slider">
  <div class="slicer_item">
    <img src="/public/62.jpeg" alt="" class="slider_img" />
    <img src="/public/61.jpg" alt="" class="slider_img" />
    <img src="/public/60.jpg" alt="" class="slider_img" />
    <img src="/public/59.jpg" alt="" class="slider_img" />
    <img src="/public/58.jpg" alt="" class="slider_img" />
    <img src="/public/62.jpeg" alt="" class="slider_img" />
    <img src="/public/61.jpg" alt="" class="slider_img" />
    <img src="/public/60.jpg" alt="" class="slider_img" />
    <img src="/public/59.jpg" alt="" class="slider_img" />
    <img src="/public/58.jpg" alt="" class="slider_img" />
  </div>
</div>

<style>
  .slider {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .slicer_item {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
    width: 1200px;
    height: 600px;
    overflow-x: scroll;
    gap: 20px;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
  }
  .slider::-webkit-scrollbar {
    width: 0;
  }
  .slider_img {
    display: block;
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
  .slider_img:hover {
    transform: scale(2);
  }
</style>
