---
import Icons from "../components/Icons.astro";
---

<footer>
  <div class="footer-logo">
    <a href="/"><img src="../public/svg/logo_footer.svg" alt="footer logo" /></a>
  </div>
  <div class="footer-nav">
    <ul class="footer-nav-list">
      <div class="column1">
        <li><a href="/lineup/">LINEUP</a></li>
        <li><a href="/ticket_side/">TICKETS</a></li>
        <li><a href="/programliste/">PROGRAM</a></li>
      </div>
      <div class="column2">
        <li><a href="/gallery_page/">GALLERY</a></li>
        <li><a href="/about/">ABOUT US</a></li>
      </div>
    </ul>
  </div>

  <div class="footer-social">
    <div class="footer-social-img1"><Icons /></div>
  </div>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-around;
  }
  .footer-logo {
    max-width: 130px;
    margin: 20px;
  }

  .footer-logo img {
    width: 100%;
  }
  .footer-logo img:hover {
    opacity: 70%;
  }
  .footer-nav-list {
    display: flex;
    justify-content: center; /* Centrerer indholdet vandret */
    text-decoration: none;
  }

  .footer-nav-list li {
    list-style: none;
  }

  .column1,
  .column2 {
    margin: 25px;
  }

  .column2 {
    margin-left: 55px;
  }

  .column1 li a,
  .column2 li a {
    line-height: 2;
  }

  .footer-social {
    display: flex;
    justify-items: center;
    margin: 35px;
    gap: 20px;
  }

  .footer-social-img1 img,
  .footer-social-img2 img {
    width: 40px;
  }
</style>
