---

---

<footer>
  <div class="footer-logo">
    <a href="#"><img src="#" alt="#" /></a>
  </div>
  <div class="footer-nav">
    <ul>
      <li><a href="#">LINEUP</a></li>
      <li><a href="#">TICKETS</a></li>
      <li><a href="#">PROGRAM</a></li>
      <li><a href="#">GALLERY</a></li>
      <li><a href="#">ABOUT US</a></li>
    </ul>
  </div>

  <div class="footer-social">
    <p>Visit us on our socials</p>
    <div class="footer-social-img1"><a href="#"><img src="#" alt="#" /></a></div>
    <div class="footer-social-img2"><a href="#"><img src="#" alt="#" /></a></div>
  </div>
</footer>

<style></style>
