---

---

<header>
  <div class="logo">
    <a href=""><img src="#" alt="logo" /></a>
  </div>
  <nav class="nav">
    <ul class="nav-list">
      <li><a href="/Overview">LINEUP</a></li>
      <li><a href="#">TICKETS</a></li>
      <li><a href="#">GALLERY</a></li>
      <li><a href="#">PROGRAM</a></li>
      <li><a href="#">ABOUT US</a></li>
    </ul>
    <div class="burgermenu">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </nav>
</header>

<style>
  .nav {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .nav-list {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
  }

  .nav-list {
    display: flex;
  }

  .nav-list li {
    margin-right: 20px;
  }

  .nav-list a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-right: 65px;
  }

  .burgermenu {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
