<!DOCTYPE html>
<html lang="da">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>program</title>
</head>

<body>
    <main>
        <div id="myBtnContainer">
            <button class="btn" onclick="filterSelection('Thursday')"> Thursday</button>
            <button class="btn" onclick="filterSelection('Friday')"> Friday</button>
            <button class="btn" onclick="filterSelection('Saturday')"> Saturday</button>
        </div>

        <div class="container">
            <div class="filterDiv Thursday">
                <div class="manege">
                    <div>
                        <h2>MANEGE</h2>
                        <hr>
                    </div>

                    <div class="stagetime">
                        <p>MCADAM</p>
                        <p>18:00-19:30</p>
                    </div>
                    <div class="stagetime">
                        <p>SCHAARUP</p>
                        <p>19:30-21:00</p>
                    </div>
                    <div class="stagetime">
                        <p>ÄME</p>
                        <p>21:00-23:00</p>
                    </div>
                    <div class="stagetime">
                        <p>KÖLSCH</p>
                        <p>23:00-01:00</p>
                    </div>
                </div>
                <div class="tribune">
                    <div>
                        <h2>TRIBUNE</h2>
                        <hr>
                    </div>
                    <div class="stagetime">
                        <p>SCHOWFDROSSEL</p>
                        <p>18:00-19:30</p>
                    </div>
                    <div class="stagetime">
                        <p>MADS LORENTSEN</p>
                        <p>19:30-21:00</p>
                    </div>
                    <div class="stagetime">
                        <p>HAENSEN & GRETHEL</p>
                        <p>21:00-23:00</p>
                    </div>
                    <div class="stagetime">
                        <p>MIRA</p>
                        <p>23:00-01:00</p>
                    </div>
                </div>
                <div class="balcony">
                    <div>
                        <h2>BALCONY</h2>
                        <hr>
                    </div>
                    <div class="stagetime">
                        <p>BOOGIE ROOKIE</p>

                    </div>
                    <div class="stagetime">
                        <p>FUTTE RICO</p>

                    </div>
                    <div class="stagetime">
                        <p>MORTEN MCCOY</p>

                    </div>
                    <div class="stagetime">
                        <p>NAYAN</p>
                    </div>
                    <div class="stagetime">
                        <p>SEB DALMAR</p>
                    </div>
                    <div class="stagetime">
                        <p>STORM</p>
                    </div>
                    <div class="stagetime">
                        <p>SØREN SKOV</p>
                    </div>
                </div>
            </div>

            <div class="filterDiv  Friday">
                <div class="manege">
                    <div>
                        <h2>MANEGE</h2>
                        <hr>
                    </div>

                    <div class="stagetime">
                        <p>VIXEN</p>
                        <p>18:00-19:30</p>
                    </div>
                    <div class="stagetime">
                        <p>NARCISS</p>
                        <p>19:30-21:00</p>
                    </div>
                    <div class="stagetime">
                        <p>HAAI</p>
                        <p>21:00-23:00</p>
                    </div>
                    <div class="stagetime">
                        <p>VTSS</p>
                        <p>23:00-01:00</p>
                    </div>
                </div>
                <div class="tribune">
                    <div>
                        <h2>TRIBUNE</h2>
                        <hr>
                    </div>
                    <div class="stagetime">
                        <p>VÄM</p>
                        <p>18:00-19:30</p>
                    </div>
                    <div class="stagetime">
                        <p>ESKII</p>
                        <p>19:30-21:00</p>
                    </div>
                    <div class="stagetime">
                        <p>DJUMA SOUNDSYSTEM</p>
                        <p>21:00-23:00</p>
                    </div>
                    <div class="stagetime">
                        <p>SATORI LIVE</p>
                        <p>23:00-01:00</p>
                    </div>
                </div>
                <div class="balcony">
                    <div>
                        <h2>BALCONY</h2>
                        <hr>
                    </div>
                    <div class="stagetime">
                        <p>COCKWHORE & MACHO</p>

                    </div>
                    <div class="stagetime">
                        <p>HARRISON HEAT, TIGHT CHERRY</p>

                    </div>
                    <div class="stagetime">
                        <p>SIOFRA</p>

                    </div>
                    <div class="stagetime">
                        <p>LUCKY CUBE</p>
                    </div>
                </div>
            </div>
            <div class="filterDiv Saturday ">
                <div class="manege">
                    <div>
                        <h2>MANEGE</h2>
                        <hr>
                    </div>

                    <div class="stagetime">
                        <p>ANNA LOGIC</p>
                        <p>18:00-19:30</p>
                    </div>
                    <div class="stagetime">
                        <p>DJ SEAVIEW</p>
                        <p>19:30-21:00</p>
                    </div>
                    <div class="stagetime">
                        <p>SPFDJ</p>
                        <p>21:00-23:00</p>
                    </div>
                    <div class="stagetime">
                        <p>RICHIE HAWTIN</p>
                        <p>23:00-01:00</p>
                    </div>
                </div>
                <div class="tribune">
                    <div>
                        <h2>TRIBUNE</h2>
                        <hr>
                    </div>
                    <div class="stagetime">
                        <p>POWERSTRANGER</p>
                        <p>18:00-19:30</p>
                    </div>
                    <div class="stagetime">
                        <p>KATZ-K</p>
                        <p>19:30-21:00</p>
                    </div>
                    <div class="stagetime">
                        <p>JUDITH VAN WANDERKANT</p>
                        <p>21:00-23:00</p>
                    </div>
                    <div class="stagetime">
                        <p>RSS DISCO</p>
                        <p>23:00-01:00</p>
                    </div>
                </div>
                <div class="balcony">
                    <div>
                        <h2>BALCONY</h2>
                        <hr>
                    </div>

                    <div class="stagetime">
                        <p>DEE BROWN, OKINE</p>
                        <p>18:00-19:30</p>
                    </div>
                    <div class="stagetime">
                        <p>MARSHMELLO</p>
                        <p>18:00-19:30</p>

                    </div>
                    <div class="stagetime">
                        <p>DEE BROWN, OKINE</p>
                        <p>18:00-19:30</p>
                    </div>

                </div>
            </div>
        </div>
    </main>
</body>

</html>

<style>
    .container {
        overflow: hidden;

    }

    .filterDiv {
        background: rgba(26, 2, 2, 0.7);
        color: #ffffff;
        text-align: center;
        margin: 20px;
        padding: 20px;
        display: none;

    }

    hr {
        width: 80%;
        margin: auto;
    }

    .stagetime {
        padding: 25px;
    }

    .stagetime p:first-child {
        color: rgb(221, 177, 136);
    }

    /* The "show" class is added to the filtered elements */
    .show {
        display: block;
    }

    /* Style the buttons */
    .btn {
        padding: 10px;
        border: 2px solid orangered;
        background-color: transparent;
        color: orangered;
        border-radius: 20px;
    }


    /* Add a light grey background on mouse-over */
    .btn:hover {
    cursor: pointer;
    background-color: orangered;
    color: black;
  }

    /* Add a dark background to the active button */
    .btn.active {
        background-color: #666;
        color: white;
    }

    #myBtnContainer{
        margin-left: 20px;
    }

    @media screen and (min-width: 780px) {

        #myBtnContainer{
        margin-left: 200px;
        margin-top: 30px;
    }
        .Thursday,
        .Friday,
        .Saturday {
            grid-template-columns: repeat(3, 1fr);
        }

        .container {
            display: grid;
            grid-template-columns: 1fr, 1fr, 1fr;
        }

        .filterDiv {
            margin-left: 200px;
            margin-right: 200px;
            padding-top: 50px;
        }
    }
</style>

<script>
    document.getElementById('scrollToBottomBtn').addEventListener('click', function() {
      window.scrollTo({
        top: document.body.scrollHeight,
        behavior: 'smooth'
      });
    });


    // Initially, show only Thursday elements
filterSelection("Thursday");

// Function to filter elements based on category
function filterSelection(category) {
  var elements, i;
  elements = document.getElementsByClassName("filterDiv");

  // Loop through all elements
  for (i = 0; i < elements.length; i++) {
    // Hide elements not matching the category
    if (elements[i].className.indexOf(category) === -1) {
      elements[i].style.display = "none";
    } else {
      // Show elements matching the category
      elements[i].style.display = "grid";
    }
  }
}

// Function to add a class to an element
function addClass(element, name) {
  var classes = element.className.split(" ");
  if (classes.indexOf(name) === -1) {
    element.className += " " + name;
  }
}

// Function to remove a class from an element
function removeClass(element, name) {
  var classes = element.className.split(" ");
  while (classes.indexOf(name) !== -1) {
    classes.splice(classes.indexOf(name), 1);
  }
  element.className = classes.join(" ");
}

// Add active class to the clicked button
var buttonContainer = document.getElementById("myBtnContainer");
var buttons = buttonContainer.getElementsByClassName("btn");
for (var i = 0; i < buttons.length; i++) {
  buttons[i].addEventListener("click", function () {
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";

    // Filter elements based on the clicked button's category
    filterSelection(this.getAttribute("data-category"));
  });
}
  </script>