
        <div id="myBtnContainer">
            <button class="btn" onclick="filterSelection('Thursday')"> Thursday</button>
            <button class="btn" onclick="filterSelection('Friday')"> Friday</button>
            <button class="btn" onclick="filterSelection('Saturday')"> Saturday</button>
        </div>

        <div class="container">
            <div class="filterDiv Thursday">
                <div class="manege">
                    <div>
                        <h2>MANEGE</h2>
                        <hr>
                    </div>

                    <div class="stagetime">
                        <p>MCADAM</p>
                        <p>18:00-19:30</p>
                    </div>
                    <div class="stagetime">
                        <p>SCHAARUP</p>
                        <p>19:30-21:00</p>
                    </div>
                    <div class="stagetime">
                        <p>ÄME</p>
                        <p>21:00-23:00</p>
                    </div>
                    <div class="stagetime">
                        <p>KÖLSCH</p>
                        <p>23:00-01:00</p>
                    </div>
                </div>
                <div class="tribune">
                    <div>
                        <h2>TRIBUNE</h2>
                        <hr>
                    </div>
                    <div class="stagetime">
                        <p>SCHOWFDROSSEL</p>
                        <p>18:00-19:30</p>
                    </div>
                    <div class="stagetime">
                        <p>MADS LORENTSEN</p>
                        <p>19:30-21:00</p>
                    </div>
                    <div class="stagetime">
                        <p>HAENSEN & GRETHEL</p>
                        <p>21:00-23:00</p>
                    </div>
                    <div class="stagetime">
                        <p>MIRA</p>
                        <p>23:00-01:00</p>
                    </div>
                </div>
                <div class="balcony">
                    <div>
                        <h2>BALCONY</h2>
                        <hr>
                    </div>
                    <div class="stagetime">
                        <p>BOOGIE ROOKIE</p>

                    </div>
                    <div class="stagetime">
                        <p>FUTTE RICO</p>

                    </div>
                    <div class="stagetime">
                        <p>MORTEN MCCOY</p>

                    </div>
                    <div class="stagetime">
                        <p>NAYAN</p>
                    </div>
                    <div class="stagetime">
                        <p>SEB DALMAR</p>
                    </div>
                    <div class="stagetime">
                        <p>STORM</p>
                    </div>
                    <div class="stagetime">
                        <p>SØREN SKOV</p>
                    </div>
                </div>
            </div>

            <div class="filterDiv  Friday">
                <div class="manege">
                    <div>
                        <h2>MANEGE</h2>
                        <hr>
                    </div>

                    <div class="stagetime">
                        <p>VIXEN</p>
                        <p>18:00-19:30</p>
                    </div>
                    <div class="stagetime">
                        <p>NARCISS</p>
                        <p>19:30-21:00</p>
                    </div>
                    <div class="stagetime">
                        <p>HAAI</p>
                        <p>21:00-23:00</p>
                    </div>
                    <div class="stagetime">
                        <p>VTSS</p>
                        <p>23:00-01:00</p>
                    </div>
                </div>
                <div class="tribune">
                    <div>
                        <h2>TRIBUNE</h2>
                        <hr>
                    </div>
                    <div class="stagetime">
                        <p>VÄM</p>
                        <p>18:00-19:30</p>
                    </div>
                    <div class="stagetime">
                        <p>ESKII</p>
                        <p>19:30-21:00</p>
                    </div>
                    <div class="stagetime">
                        <p>DJUMA SOUNDSYSTEM</p>
                        <p>21:00-23:00</p>
                    </div>
                    <div class="stagetime">
                        <p>SATORI LIVE</p>
                        <p>23:00-01:00</p>
                    </div>
                </div>
                <div class="balcony">
                    <div>
                        <h2>BALCONY</h2>
                        <hr>
                    </div>
                    <div class="stagetime">
                        <p>COCKWHORE & MACHO</p>

                    </div>
                    <div class="stagetime">
                        <p>HARRISON HEAT, TIGHT CHERRY</p>

                    </div>
                    <div class="stagetime">
                        <p>SIOFRA</p>

                    </div>
                    <div class="stagetime">
                        <p>LUCKY CUBE</p>
                    </div>
                </div>
            </div>
            <div class="filterDiv Saturday ">
                <div class="manege">
                    <div>
                        <h2>MANEGE</h2>
                        <hr>
                    </div>

                    <div class="stagetime">
                        <p>ANNA LOGIC</p>
                        <p>18:00-19:30</p>
                    </div>
                    <div class="stagetime">
                        <p>DJ SEAVIEW</p>
                        <p>19:30-21:00</p>
                    </div>
                    <div class="stagetime">
                        <p>SPFDJ</p>
                        <p>21:00-23:00</p>
                    </div>
                    <div class="stagetime">
                        <p>RICHIE HAWTIN</p>
                        <p>23:00-01:00</p>
                    </div>
                </div>
                <div class="tribune">
                    <div>
                        <h2>TRIBUNE</h2>
                        <hr>
                    </div>
                    <div class="stagetime">
                        <p>POWERSTRANGER</p>
                        <p>18:00-19:30</p>
                    </div>
                    <div class="stagetime">
                        <p>KATZ-K</p>
                        <p>19:30-21:00</p>
                    </div>
                    <div class="stagetime">
                        <p>JUDITH VAN WANDERKANT</p>
                        <p>21:00-23:00</p>
                    </div>
                    <div class="stagetime">
                        <p>RSS DISCO</p>
                        <p>23:00-01:00</p>
                    </div>
                </div>
                <div class="balcony">
                    <div>
                        <h2>BALCONY</h2>
                        <hr>
                    </div>

                    <div class="stagetime">
                        <p>DEE BROWN, OKINE</p>
                        <p>18:00-19:30</p>
                    </div>
                    <div class="stagetime">
                        <p>MARSHMELLO</p>
                        <p>18:00-19:30</p>

                    </div>
                    <div class="stagetime">
                        <p>DEE BROWN, OKINE</p>
                        <p>18:00-19:30</p>
                    </div>

                </div>
            </div>
        </div>