---
const artist = Astro.props.artist;
const time = Astro.props.time;

---
<div class="stagetime">
    <p>{artist}</p>
    <p>{time}</p>
</div>

<style>
        .stagetime {
        padding: 25px;
    }

    .stagetime p:first-child {
        color: rgb(221, 177, 136);
    }
</style>