---

---

<article class="ticket">
  <div class="earlybird_ticket">
    <img class="earlybird" src="/svg/Ticket_earlybird.svg" alt="earlybird ticket" />
    <h1 class="buy_now"><a href="https://www.ticketmaster.dk/event/542817">BUY NOW</a></h1>
  </div>
  <div class="oneday_ticket">
    <img class="oneday" src="/svg/Ticket_oneday.svg" alt="oneday ticket" />
    <h1 class="comingsoon"><a href="https://www.ticketmaster.dk/event/542817">COMING SOON</a></h1>
  </div>
</article>
<style>
  .ticket {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 40px;
    width: 100%;
  }
  .earlybird,
  .oneday {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
  }
  .earlybird_ticket,
  .oneday_ticket {
    position: relative;
    display: flex;
  }
  .buy_now,
  .comingsoon {
    position: absolute;
    display: flex;
    font-family: "Alumni Sans", sans-serif;
    font-size: 3.5vw;
  }

  .earlybird_ticket .buy_now {
    top: 87%;
    left: 15%;
    transform: translate(-50%, -50%);
  }
  .oneday_ticket .comingsoon {
    top: 87%;
    left: 22%;
    transform: translate(-50%, -50%);
  }
  .buy_now a:hover,
  .comingsoon a:hover {
    color: #f84104;
  }
  .comingsoon a,
  .buy_now a {
    color: white;
    text-decoration: none;
  }

  @media (max-width: 500px) {
    .earlybird_ticket .buy_now {
      top: 87%;
      left: 18%;
      transform: translate(-50%, -50%);
    }
    .oneday_ticket .comingsoon {
      top: 87%;
      left: 25%;
      transform: translate(-50%, -50%);
    }
  }
  @media (max-width: 440px) {
    .earlybird_ticket .buy_now {
      top: 87%;
      left: 18%;
      transform: translate(-50%, -50%);
      font-size: 30px;
    }
    .oneday_ticket .comingsoon {
      top: 87%;
      left: 22%;
      transform: translate(-50%, -50%);
      font-size: 30px;
    }
  }
  @media (max-width: 300px) {
    .earlybird_ticket .buy_now {
      top: 87%;
      left: 20%;
      transform: translate(-50%, -50%);
      font-size: 30px;
    }
    .oneday_ticket .comingsoon {
      top: 87%;
      left: 27%;
      transform: translate(-50%, -50%);
      font-size: 30px;
    }
  }
  @media (max-width: 274px) {
    .earlybird_ticket .buy_now {
      top: 87%;
      left: 20%;
      transform: translate(-50%, -50%);
      font-size: 20px;
    }
    .oneday_ticket .comingsoon {
      top: 87%;
      left: 27%;
      transform: translate(-50%, -50%);
      font-size: 20px;
    }
  }
</style>
