---
const { variant = "primary" } = Astro.props;
---

<button class="custom-button" data-variant={variant}>
  <a href="/about/" class="button-link">
    <slot />
  </a>
</button>

<style>
  /* Common styles for all buttons */
  .custom-button {
    width: 145px;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
    min-width: auto;
    text-align: center;
  }

  .custom-button:hover {
    cursor: pointer;
  }

  .button-link {
    text-decoration: none;
    color: inherit;
    font-size: 12.5px;
  }

  /* Variant specific styles */
  [data-variant="secondary"] {
    border: 2px solid orangered;
    background-color: transparent;
    color: orangered;
  }

  [data-variant="secondary"]:hover {
    background-color: orangered;
    color: black;
  }
</style>
